
<div class="side-nav">
  <div class="flex-shrink-0 p-3" style="margin-top:33px;">

    <ul>
      <li class="mb-1 text text-info">
        <i class="fa fa-filter"></i>
        Filters
        <hr>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Categories
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-muted">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">CCTV</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Intercom </a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Accesscontrol</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Electic fence</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Gates</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Alarms</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Brands/Types
        </button>
        <div class="collapse  show" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Hikvision</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Dahua</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tiandy</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ezviv</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Lytsys</a></li>
          </ul>
        </div>
      </li>

      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#xc-collapse" aria-expanded="false">
         Price
        </button>
        <div class="collapse" id="xc-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <div class="form">
              <li><span class="price-F"> 500-1000</span><input type="checkbox" name="" id="" class="link-body-emphasis d-inline-flex text-decoration-none rounded"></li>
              <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">1000-5000</a></li>
              <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">10000-Above</a></li>
            </div>
          </ul>
        </div>
      </li>

      <li class=" text text-info">
        Other links:
        <hr>
      </li>

      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed link-body-emphasis" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Orders
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
<small class="text-align-center">  Elphamatt tech solutions</small>
</div>
<style>
  .price-F{
  margin-left: 40px !important;
  margin-right: 10px !important;
  font-size: smaller;
}

  .btn{
    box-shadow: none;
    border: none;
  }
  .btn::after{
    box-shadow: none !important;
    border: none;
  }
  .btn:active{
    box-shadow: none !important;
    border: none;
  }
  .btn:hover{
    box-shadow: none !important;
    border: none;
  }
  .link-body-emphasis:hover{
    color:#4b92a8 !important;
  }
</style>
<script src="/static/assets/dist/js/bootstrap.bundle.min.js"></script>

<!-- <script src="sidebars.js"></script> -->