
  <header class="d-flex justify-content-center py-1 text-white bg-info">
    <ul class="nav">
      <li class=""><a href="#" class="nav-link text-white"><i class="fa fa-phone me-1"></i>+254742161366</a></li>
      <li class=""><a href="#" class="nav-link text-white"><i class="fa fa-envelope me-1"></i>gichinindegwa@gmail.com</a></li>
      <li class=""><a href="#" class="nav-link text-white"><i class="fa fa-whatsapp me-1"></i>Whatsapp</a></li>
      <li class=""><a href="#" class="nav-link text-white"><i class="fa fa-map-marker me-1"></i>Nairobi CBD,Along Accra road</a></li>
    </ul>
  </header>
